@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,600&family=Pacifico&display=swap');

*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}
.container{
    width: 1289px;
    height: 1100px;
    
    
}
.container .img-home{
    width: 1289px;
    height: 1100px;
    position: absolute;
    top: 0;
    z-index: -1;
}

/*header Start*/
.container header{
    width: 1289px;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    /* border: 1px solid red; */
    font-family: 'Nunito', sans-serif;
}

.container header .logo-info{
    width: 245px;
    display: flex;
    justify-content:center;
}
.logo-info .logo{
    width: 45px;
    height: 45px;
}
.logo-info .logo img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.logo-info .logo-title{
    margin-left:5px ;
}

.menu-btn{
    width: 735px;
    display: flex;
    justify-content:space-around;
    
}

.menu-btn .menubar ul{
    display: flex;
    flex-direction:row;
    justify-content:center; 
    list-style:none;
    width:540px;
    height: 50px;
    border-radius:30px;
    color:white;
    background:#000;
    
}
.menu-btn .menubar ul li {
    margin: auto 10px;
    align-self: center;
}
.menu-btn .menubar ul li a{
    text-decoration: none;
    color:white;
}
.menu-btn .menubar ul li:hover{
    border-bottom: 3px solid #fff;
    font-weight: bold;

}
.getQuote{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background:#2992ed;
    border-radius:30px;
    margin-left: 40px;
    transition: color,background .5s ease-in .02s;
}
.getQuote p{
    margin:auto 20px;
}
.getQuote p a{
    text-decoration: none;
    color:white;
    width:100%;
    font-weight:bold;
    
}
.getQuote:hover {
    
    background:yellowgreen;
}
.getQuote a:hover{
    color:#000;
    
}
/*header End*/


/* text Start*/
.title-h1{
    width: 768px;
    height: 160px;
}
.title-text h1{
    margin-left: 54px;
    margin-top:263px;
    font-size: 80px;
    color:white;
}
.title-text p{
    line-height: 10;
    margin-left: 54px;
    font-size:24 px;
    font-weight:bold;
    color:white;
}

.title-text .btn-home-1{
    width:135px;
    height:50px;
    background:#2992ed;
    border-radius:30px;
    display: flex;
    justify-content:center;
}
.title-text .btn-home-1 a{
    align-self: center;
    color:white;
    text-decoration:none;
}

.title-text .btn-home-2{
    margin-left:30px;
    width:217px;
    height:50px;
    background:#000;
    border-radius:30px;
    display: flex;
    justify-content:center;
    
}
.title-text .btn-home-2 a{
    align-self: center;
    color:white;
    text-decoration:none;
}
.title-text .btn-home-1:hover{
    box-shadow:2px 2px 4px #2992ed;
}
.title-text .btn-home-1 a:hover{
    font-weight: bold;
    text-shadow: 2px 2px 5px #fff;
    /* border-bottom:3px solid #fff; */
}
.title-text .btn-home-2:hover{
    box-shadow:0 2px 4px #000;
}
.title-text .btn-home-2 a:hover{
    font-weight: bold;
    text-shadow: 2px 2px 5px #fff;
    /* border-bottom:3px solid #fff; */

}
.link-btn{
    display:flex;
    margin-left:54px;
}
/*text End*/



/* footer-home Start*/
.home-footer{
    width:1089px;
    height: 110px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top:200px;
    margin-left: 54px;
    color:#fff;
    background:#222a31;
    font-size:18px;
}
.home-footer .item1 {
    margin: auto 10px;
    display: flex;
    align-items:center;
}
.home-footer .item1 .title-footer {
    height:80px;
    width:8px;
    background:#2992ed;
    border-radius: 4px;
}
.home-footer .item1 div h5{
    margin-left:10px;
}
/* footer-home End*/